.attachment-card {
    padding: var(--mantine-spacing-xs);
    background: var(--mantine-color-primary-10) !important;
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
    text-decoration: none !important;

    &.hovered {
        filter: brightness(0.85);
        transform: translateY(-2px);
    }

    .download-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(var(--mantine-color-primary-filled-rgb), 0.8);
        backdrop-filter: blur(2px);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        border-radius: var(--mantine-radius-md);

        svg {
            color: white;
            filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
        }
    }

    .preview-frame {
        padding: var(--mantine-spacing-xs);
        background: var(--mantine-color-primary-11) !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .file-icon {
        opacity: 0.7;
        color: var(--mantine-color-gray);
    }

    .file-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: center;
    }
}
