.code-block {
    position: relative;

    .code-block-copy {
        float: right;
        width: 2rem;
        height: 2rem;
        margin: 0 0 0.4rem 0.6rem;
        shape-outside: margin-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
