.code-block {
    position: relative;

    .code-block-copy {
        float: right;
        shape-outside: margin-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
