/* Components */

@import "Layout.scss";
@import "components/common/Header.scss";
@import "components/common/EnvironmentBanner.scss";

@import "components/common/MarkdownText.scss";
@import "components/common/UserCard.scss";
@import "components/common/GameModeIcon.scss";
@import "components/common/AttachmentDisplay.scss";
@import "components/common/FeatureCard.scss";
@import "components/common/TextEditor.scss";
@import "components/common/CountryFlag.scss";

@import "components/votings/VotingInfo.scss";
@import "components/votings/VotingCard.scss";

@import "components/tournaments/TournamentCard.scss";

@import "components/tickets/TicketCard.scss";
@import "components/tickets/TicketInfo.scss";

@import "components/previewer/NewsBannersTab.scss";
@import "components/previewer/OsuProfile.scss";
@import "components/previewer/InGameBannersTab.scss";

@import "components/compliance/BeatmapCard.scss";

@import "mixins.scss";

/* Fonts */

@font-face {
    font-family: "Torus";
    src: url("/fonts/Torus-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Torus";
    src: url("/fonts/Torus-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Torus";
    src: url("/fonts/Torus-Heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Torus";
    src: url("/fonts/Torus-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Torus";
    src: url("/fonts/Torus-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Torus";
    src: url("/fonts/Torus-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

/* Theme */

/* light mode */
:root[data-mantine-color-scheme="light"] {
    --mantine-color-body: var(--mantine-color-gray-1) !important;
    --mantine-color-text: var(--mantine-color-black) !important;
}

/* dark mode */
:root[data-mantine-color-scheme="dark"] {
    --mantine-color-body: var(--mantine-color-primary-11) !important;
    --mantine-color-text: var(--mantine-color-white) !important;
    --mantine-color-primary-filled: var(--mantine-color-primary-9) !important;
    --mantine-color-primary-filled-hover: darken(var(--mantine-color-primary-9), 10%) !important;

    /* Navigation menu */
    .mantine-Menu-dropdown {
        background-color: var(--mantine-color-primary-11) !important;
    }

    .mantine-Menu-item {
        text-decoration: none !important;
    }

    /* Notifications */
    .mantine-Notification-title {
        font-weight: 700 !important;
    }

    .mantine-Notification-description {
        color: var(--mantine-color-white) !important;
    }

    .mantine-Notification-root {
        @include glass-bg(var(--notification-color));

        &:before {
            background-color: var(--mantine-color-white) !important;
        }
    }

    .mantine-Notification-closeButton {
        color: var(--mantine-color-white) !important;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    /* Skeleton */
    .mantine-Skeleton-root::before {
        background-color: var(--mantine-color-primary-9) !important;
    }

    .mantine-Skeleton-root::after {
        background-color: var(--mantine-color-primary-10) !important;
    }

    /* Inputs */
    .mantine-Input-input,
    .mantine-Popover-dropdown {
        background-color: var(--mantine-color-primary-10) !important;
    }

    .mantine-Select-option,
    .mantine-Combobox-option,
    .mantine-MultiSelect-option {
        background-color: var(--mantine-color-primary-10) !important;
        transition: background-color 0.1s ease;

        &:hover {
            background-color: var(--mantine-color-primary-9) !important;
        }
    }

    .mantine-MultiSelect-pill {
        background-color: var(--mantine-color-primary-light);
        color: var(--mantine-color-primary-light-color);
    }

    .mantine-Pagination-control {
        background-color: var(--mantine-color-primary-10) !important;
    }

    /* NavLink styles */
    .mantine-NavLink-root {
        text-decoration: none !important;

        &[data-active] {
            text-decoration: none !important;
        }
    }

    /* Tabs */
    .mantine-Tabs-tab {
        &:hover {
            background-color: color-mix(in srgb, var(--mantine-color-primary-11) 60%, transparent);
        }
    }

    .mantine-Badge-label {
        line-height: normal;
    }

    .mantine-Code-root {
        background-color: var(--mantine-color-primary-10);
    }

    .mantine-Pill-root {
        background-color: var(--mantine-color-primary-light);
        color: var(--mantine-color-primary-light-color);
    }
}

/* Links */
a {
    color: var(--mantine-color-primary-3);
    text-decoration: none;

    &.whiteLink {
        color: var(--mantine-color-white);
    }

    &:hover:not(.mantine-Button-root) {
        text-decoration: underline;
    }
}

/* Headers */
.header-border-left {
    margin-left: .625em;

    &:before {
        margin-left: -.625em;
        margin-top: .3em;
        border-radius: 1000em;
        content: "";
        display: block;
        width: .2em;
        height: 0.8em;
        background-color: var(--mantine-color-primary-5);
        position: absolute;
    }
}

/* Triangles background */
body {
    background-color: var(--mantine-color-primary-11);

    &:before {
        background-image: url("/assets/triangles.png");
        opacity: 0.2;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: "";
        z-index: -1;
    }
}

/* Scrollbar */
html {
    overflow-y: scroll;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--mantine-color-primary-6) var(--mantine-color-primary-11);
}

/* Chrome/Edge/Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--mantine-color-primary-11);
}

::-webkit-scrollbar-thumb {
    background-color: var(--mantine-color-primary-6);
    border-radius: 8px;
    border: 4px solid var(--mantine-color-primary-11);

    &:hover {
        background-color: var(--mantine-color-primary-5);
    }
}

/* Selection */
::selection {
    background-color: var(--mantine-color-primary-9);
    color: var(--mantine-color-text);
}

::moz-selection {
    background-color: var(--mantine-color-primary-9);
    color: var(--mantine-color-text);
}

/* Navbar avatar hover effect */
.user-avatar {
    transition: border 0.2s ease;
    border: 2px solid transparent;
}

/* Visual pulse animation */
.animation-pulse {
    animation: pulse 1s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    from {
        filter: brightness(1.4);
    }

    to {
        filter: brightness(1);
    }
}

/* Spin animation */
.animation-spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}