@use "../../mixins.scss";

.environment-banner {
    @include mixins.glass-bg(var(--environment-banner-background), false);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

    position: fixed;
    bottom: var(--osu-api-banner-height, 0px);
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    border-top: 1px solid color-mix(in srgb, #fff 30%, var(--environment-banner-background) 70%);
    z-index: 101;

    html[data-osu-api-banner-visible] & {
        border-bottom: none;
        box-shadow: none;
    }

    .banner-text {
        font-size: 12px;
        font-weight: 600;

        svg {
            margin-right: 6px;
        }
    }
}
