.mantine-Spotlight-action {
    &:hover {
        // remove current hover effect
        background-color: transparent !important;
    }

    &[data-selected="true"] {
        background-color: var(--mantine-color-primary-11);

        .spotlight-action-card {
            background-color: var(--mantine-color-primary-9);
            border: 2px solid var(--mantine-color-primary-6);
            transition:
                transform 0.2s cubic-bezier(0.25, 1, 0.5, 1),
                border-color 0.2s cubic-bezier(0.25, 1, 0.5, 1),
                background-color 0.2s cubic-bezier(0.25, 1, 0.5, 1);
        }
    }

    .spotlight-action-card {
        transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
        border: 2px solid transparent;

        &:hover {
            transform: translateY(-4px);
        }
    }
}
