.text-editor-input::placeholder {
    font-size: 0.9em;
    color: var(--mantine-color-placeholder);
}

.text-editor-preview-split {
    border-top: 1px solid var(--mantine-color-primary-5);

    @media (min-width: 48em) {
        border-top: 0;
        border-left: 1px solid var(--mantine-color-primary-5);
    }
}
