.ticket-card {
    text-decoration: none !important;
    position: relative;
    border-top: 4px solid var(--card-status-color);
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-4px);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: linear-gradient(180deg, var(--card-status-color) -120%, var(--mantine-color-primary-11) 2rem);
    }

    > * {
        position: relative;
        z-index: 1;
        flex: 1;
    }
}
