.voting-list-card {
    text-decoration: none !important;
    position: relative;
    transition: transform 0.2s ease;
    overflow: hidden;

    &:hover {
        transform: translateY(-4px);
    }

    // Active voting card styles
    &[data-active="true"] {
        border-left: 4px solid var(--card-status-color);

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background: linear-gradient(90deg, var(--card-status-color) -20rem, var(--mantine-color-primary-11) 5rem);
        }
    }

    // Inactive voting card styles
    &[data-active="false"] {
        border: none;
        background: var(--mantine-color-primary-11);
    }

    > * {
        position: relative;
        z-index: 1;
    }
}
