.ticket-card {
    text-decoration: none !important;
    position: relative;
    transition: transform 0.2s ease;
    overflow: hidden;

    &:hover {
        transform: translateY(-4px);
    }

    // Active ticket styles
    &[data-active="true"] {
        border-top: 4px solid var(--card-status-color);

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background: linear-gradient(180deg, var(--card-status-color) -10rem, var(--mantine-color-primary-11) 2rem);
        }
    }

    // Inactive ticket styles
    &[data-active="false"] {
        border: none;
        background: var(--mantine-color-primary-11);
    }

    &[data-dim="true"] {
        opacity: 0.5;
    }

    > * {
        position: relative;
        z-index: 1;
    }
}
